.slot {
  @apply relative flex items-center justify-center border-2;
  border-color: var(--minecraft-slot-border-tl) var(--minecraft-slot-border-br)
    var(--minecraft-slot-border-br) var(--minecraft-slot-border-tl);
  background-color: hsl(var(--minecraft-slot-bg));
}

.slot:hover,
.active {
  @apply bg-foreground/20;
}

.slot:before,
.slot:after {
  background-color: hsl(var(--minecraft-slot-bg));
  @apply pointer-events-none absolute;
  content: "";
  height: 2px;
  width: 2px;
}

.slot:before {
  right: -2px;
  top: -2px;
}

.slot:after {
  bottom: -2px;
  left: -2px;
}
