.slot {
  @apply relative flex items-center justify-center border-2;
  border-color: #373737 #ffffff #ffffff #373737;
  background-color: hsl(var(--minecraft-slot-bg));
}

.slot:hover,
.active {
  @apply bg-white/40;
}

.slot:before,
.slot:after {
  background-color: hsl(var(--minecraft-slot-bg));
  @apply pointer-events-none absolute;
  content: "";
  height: 2px;
  width: 2px;
}

.slot:before {
  right: -2px;
  top: -2px;
}

.slot:after {
  bottom: -2px;
  left: -2px;
}
