.crafting {
    max-width: 230px;
    margin: 0 auto;
}

.crafting-table {
    background: #C6C6C6;
    text-align: left !important;
    margin-left: 2px;
    line-height: 42px;
}

.grid, .grid-large, .grid-furnace {
    position: relative;
    float: left;
    display: block;
    text-align: center !important;
    background-color: #8B8B8B;
    border: 2px solid #373737;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    vertical-align: middle;
}

.grid-large img {
    z-index: -1;
    margin-top: 8px;
}

.grid, .grid-furnace {
    width: 36px;
    height: 36px;
}

.grid:hover, .grid-large:hover, .grid-furnace:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.grid-large {
    width: 48px;
    height: 48px;
}

.grid-furnace {
    margin-left: 50px;
}

.grid img, .grid-large img, .grid-furnace img {
    cursor: move;
}

.crafting .recipe {
    float: left;
    width: 110px;
}

.crafting .arrow {
    width: 32px;
    height: 27px;
    margin: 50px 25px 0 15px;
    float: left;
    background: url(../assets/arrow.png);
}

.crafting .flame {
    width: 32px;
    height: 32px;
    margin-left: 50px;
    margin-bottom: 5px;
    float: left;
    background: url(../assets/flame.png);
}

.crafting-table-output {
    float: left;
    padding-top: 40px;
}

.crafting-table-output-count {
    position: absolute;
    bottom: 0;
    right: 5%;
    color: #ffffff;
    font-family: Minecraft;
    user-select: none;
}

/* only for small */
@media screen and (max-device-width: 400px) {
    .crafting .arrow {
        margin-left: 0;
        margin-right: 0;
    }
}

.recipe > h6 {
    font-family: Minecraft;
}

.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}
.nav-tabs>li {
    float: none;
}
