/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: "minecraft";
  src: url(http://hydra-media.cursecdn.com/hydra/fonts/minecraft.woff);
}

body {
  background: #eee;
  font-family: minecraft;
  padding: 10px;
  color: #404040;
}

.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}

.crafting-holder {
  float:left;
  padding: 10px;
  margin-top: 10px;
  background: #C6C6C6;
  border: 2px solid #373737;
  border-right-color: #FFF;
  border-bottom-color: #FFF;
}

.crafting {
  width: 230px;
  margin: 0 auto;
}

.crafting-table {
  background: #C6C6C6;
  text-align: left !important;
  margin-left: 2px;
  line-height: 42px;
}

.grid, .grid-large {
  float: left;
  display: block;
  text-align: center !important;
  background-color: #8B8B8B;
  border: 2px solid #373737;
  border-right-color: #FFF;
  border-bottom-color: #FFF;
  vertical-align: middle;
}

.grid-large img {
  margin-top: 8px;
}

.grid {
  width: 32px;
  height: 32px;
}
.grid-large {;
  width: 48px;
  height: 48px;
}

.crafting .recipe {
  float: left;
  width: 110px;
}
.crafting .arrow {
  width: 32px;
  height: 27px;
  margin: 57px 15px 0;
  float: left;
  background: url('https://hydra-media.cursecdn.com/minecraft.gamepedia.com/8/86/Grid_layout_Arrow_%28small%29.png');
}

#crafting-table-output {
  float: left;
  padding-top: 45px;
}
